<!DOCTYPE html>
<html>
<head>
	<title>회원가입	</title>
		<link type="text/css" rel="stylesheet" href="main.css">
		<script type="text/javascript">
			window.onload=function(){
				var nav1 = document.getElementById('nav1');
				nav1.addEventListener("mouseover", function(){
					var child = this.querySelector("div");
					child.style.display = "block"
				});
				var nav1 = document.getElementById('nav1');
				nav1.addEventListener("mouseleave", function(){
					var child = this.querySelector("div");
					child.style.display = "none"
				});
			}
		</script>
</head>
<body>
	<div id="bigbox">
		<header>
			<div class="logo">
				<a href="C:\Users\HusnSooKim\Desktop\main.html">
				<img src="logo.png"><!--로고이미지url이 들어갑니다. -->
				</a>
			</div>
			
			<h1>A_TEAM RESULT</h1>
		</header>
		<div class="nav">
			<ul>
				<li id="nav1">
					<a href="#">로그인/회원가입</a>
					<div>
						<a href="C:\Users\HusnSooKim\Desktop\로그인.html">로그인</a>
						<a href="C:\Users\HusnSooKim\Desktop\회원가입.html">회원가입</a>
					</div>
				</li>
				<li id="nav2">
					<a href="C:\Users\HusnSooKim\Desktop\진단.html">질병확인하기</a>
				</li>
				<li id="nav3">
					<a href="C:\Users\HusnSooKim\Desktop\예약.html">병원 예약하기</a>
				</li>
			</ul>
		</div>
		<section style="width:100%;margin:40 auto; background-color: white;">
		<!-- 내용이 들어가는 부분 -->
			<div class="login_box">
				<h2>Login Page</h2>
				<div class="inputArea">
					<input type="text" id="idvalue" value="" placeholder="아이디">
					<input type="password" id="pwvalue" value="" placeholder="PASSWORD">
				</div>
				<div class="buttonArea">
					<button type="button" id="complete">SUBMIT</button>
				</div>
			</div>
		<!-- 내용부분 끝 -->
		</section>
		<footer>
			Copyright &copy; 2018 A_TEAM RESULT PAGE.
		</footer>
	</div>
</body>
</html>
